language: node_js
node_js:
- node
deploy:
  provider: heroku
  skip_cleanup: true
  api_key:
    secure: pcXUPZ8avQHrPB089s3E1ekY2/2NCizKIAdPxxEnkt5EPM65x/wJ0UH9iiRt/tt8R4FDR52BKt4WSRCdfFw23+i2gaNIA9aerEfMBs0ngOUTEAScWcDCAqCKAcnpZX/a47joceATe+h8OhLZGacvIJUq4HMExWu6+E/XcQEMdsL05iySvSYoQjBNNL7vLBpcFHlfvig8Oy53gWkiXQTyoYYCCfhxahu2k9KLtJPCikkb1J7zRQLFdbBenU7nTOqsYCyVG+kM+Vg8IIyJseqj7BJ8SWhZbqyDYyKzC6YreB56iS6rdhkyWX5tdYmE/OygjUi/xnSUj2EXvOElHCrm0CNTFRyExSCeyhh7w9oNeScONqRGz4A8pUjA79yFglpMttUS1XgKSsbt1gzQzIog1ouLxLPTr6qd24GLEFlyOtHy6ZVYKL6AaMz/CRwtC5fbVChdbpuucUuBxXtFjnCyFID0dZ6gj7BG5nV0TD7G29F6msmFE9orCda1KtsdOGClvfyBGNnEM51ZT5Um1mQgjqdV8o10VLgvO8Vq2H2cFMHEIy//sqtJGlrpILWTb5UCKSH3lmZpMwPh87XA4LKMAM3xDjwrkjsPfoTiMBic4u6nBRtXQg3pTK1YCUc9nhxXgk41Iqxa9xCdcAlis7zXGlUsCGgZpCdLcfTreiZfWCc=
  app: jiak-simi
  on:
    repo: junkaiii/project3
    branch: dev
