* {
  font-family: 'Crete Round', serif;
}

html, body {
  height: 100%
}
h1 {
  margin: 10px auto;
  font-family: 'Gloria Hallelujah', cursive;
}
.header {
  height: 60px;
  background: #FF9B42;
  border-bottom: 2px solid #CCC;
  width: 100%;
  margin: 0 auto;
  /*padding-left: 20px;*/
}
.main-window {
  background: #EDE7D9;
  float: left;
  height: 100%;
  width: 80%;
  align-content: center;
}

.search-engine {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 1.5em;
}

#mylocationsearcher {
  width: 60%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#autolocator {
  border-radius: 20px;
  background-color: #A49694;
}

#locationbtn {
  margin-left: -6px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #A49694
}

.navbtn {
  float: right;
  font-size: 2em;
}

.sidenav {
  border-left: 2px solid #CCC;
  float: right;
  height: 100%;
  width: 20%;
}

.avatar-pic {
  display: inline-block;
  box-shadow: 0 0 4px 0 black;
  height: 80px;
  width: 80px;
  margin-left: 15px;
  margin-top: 15px;
}

.identity {
  display: inline-block;
  margin-left: 10px;
}

#profile, #settings, #history, #logout {
  color: black;
  display: block;
  /*margin: 30px 0 30px 15px;*/
  padding: 7.5px 0 7.5px 15px;
  text-decoration: none;
  width: 100%;
  border-top: 0.1px solid lightgrey;
  border-bottom : 0.1px solid lightgrey;
  margin-top: -1px;
  margin-bottom: -1px;
}

#profile {
  margin-top: 30px;
}


#profile:hover,
#settings:hover,
#history:hover,
#logout:hover {
  color: white;
  padding-left: 60%;
  background-color: darkgrey;
  transition: background-color .3s, color .5s, padding-left .8s;
}

.logout-tab {
  border-bottom-style: groove;
}

.title {
  /*display: inline-block;*/
  float: left;
  padding-left: 10px;
}
.access {
  height:100%;
  vertical-align: middle;
  float: right;
  font-size: 1.5em;
}
.gmap-window {
  border-style: inset;
  border-radius: 5px;
  width: 90%;
  height: 60%;
  margin-top: 1.5%;
  margin: 0 auto;
}

.footer {
  height: 30px;
  background: #736B60;
  width: 100%;
  /*padding-left: 20px;*/
  position: fixed;
  bottom: 0;
}
.trademark {
  color: lightgrey;
  float: right;
  padding-top: 5px;
}
