  <div class="footer">
    <!-- <div class="advsearch">
      <a href="/advsearch">Use advanced search</a>
    </div> -->
    <div class="trademark">
      <a href="/team">Braindead Pancakes G3</a>
    </div>
  </div>
