<div class="header">
  <div class="title">
    <a href="/"><h1>Jiak Simi!</h1></a>
  </div>
  <div class="access">
    <a href="/login">Login</a>
    <a href="/signup">Register</a>
  </div>
  <div class="navbtn">
  </div>
</div>
