<div class="sidenav">
  <img class="avatar-pic" src="img/generic-avatar.png" alt="img/generic-avatar.png" />
  <div class="identity">
    <div class="username"><h4>Username</h4></div>
  </div>
  <a id="profile" href="#"><h4>Profile</h4></a>
  <a id="settings" href="#"><h4>Settings</h4></a>
  <a id="history" href="#"><h4>History</h4></a>
  <a id="logout" href="#"><h4>Logout</h4></a>
</div>
