<div class="container">

    <div class="about-title"><h2>About</h2></div>

    <div class="translation">
        <h4><b>Jiak Simi</b></h4>

        <p>
            Hokkien or Teochew pronunciation of the Chinese term "食甚物" which means "eat what?" or "What do you want to eat?"
        </p>
    </div>

    <div class="about">

        <p>'Jiak Simi?' is a Singapore-based food locator website which is created and designed by a bunch of brain-dead students with a lack of sleep from General Assembly. It is done with much blood(literally), sweat(metaphorical due to air-con) and tears
            (literally).</p>
        <p>Use the website to find interesting places to eat near you by either typing an address or the GPS-locator.</p>
        <p>You can also use the advanced search to choose how long you are willing to take to get there and how.</p>
    </div>

    <div class="endline">
      2016 ©
    </div>
</div>
