<div class="main-window">
    <div class="search-engine">
        <div class="search bar">


            <input type="search" id="search_bar" placeholder="Type an address or postal code">


            <button type="submit" id="locationbtn" class="btn btn-warning btn-md btn-font">Search</button>
        </div>

        <div>
            or
        </div>

        <div class="autolocatordiv">
            <button type="submit" id="autolocator" class="btn btn-warning btn-md btn-font">Use my location</button>
            
        </div>
        <a id="advsearch" href="/advsearch">Use advanced search</a>
    </div>

    <div class="gmap-window">
        <div id="map_canvas"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/script.js"> </script>
</body>
