<div class="main-window">
  <div class="search-engine">
    <div class="search bar">


      <input type="search" id="mylocationsearcher" placeholder="Add your address here">


      <button type="submit" id="locationbtn" class="btn btn-warning btn-md">Search</button>
    </div>

    <div class="or">
      or
    </div>
    <div class="autolocatordiv">
      <button type="submit" id="autolocator" class="btn btn-warning btn-lg">Use my location</button>
  </div>
  </div>
  <div class="gmap-window">
    <!-- Add google map api here -->
  </div>
</div>
