<div class="main-window">
  <div class="main-search-engine">
    <div class="main-search bar">


      <input type="search" id="main-search_bar" placeholder="Add your address here">


      <button type="submit" id="main-locationbtn" class="btn btn-warning btn-md btn-font">Search</button>
    </div>

    <div class="or">
      or
    </div>
    <div class="main-autolocatordiv">
      <button type="submit" id="main-autolocator" class="btn btn-warning btn-md btn-font">Use my location</button>
  </div>
  </div>
  <div class="gmap-window">
    <div id="map_canvas"></div>
  </div>
</div>
