<div class="container">

<div class="team-title">
  <h2><b>Meet the Team</b></h2>
</div>
<div class="picofus">
  <img class="us" src="/img/the-team.jpg" alt="Pic of us" />
</div>

<div class="team-desc">
  This is us. Students from General Assembly Batch. 4 Group. 3. A photo of us nearing the end of the creation of this website just before lunch, so some of us were sick, some of us were hungry and all of us were tired. We worked real hard to have this completed within a week. So I hope everyone enjoys using our website.
</div>

</div>
